<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Jellynalyst</title>
        <script src="https://cdn.plotly.com/plotly-latest.min.js"></script>
        <link rel="stylesheet" href="/static/css/style.css" />
    </head>
    <body>
        <header>
            <h1>Jellynalyst</h1>
        </header>
        <main>
            <div id="stats-container">
                <div id="genre-chart"></div>
                <div id="requests-chart"></div>
            </div>
        </main>
        <script src="/static/js/charts.js"></script>
    </body>
</html>
